<div class="card card-custom gutter-b">
  <div class="card-header py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label text-dark">お気に入り企業</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">Favorite Companies</span>
    </h3>
  </div>
  <div class="card-body pb-0">
    <div class="table-responsive">
      <table class="table table-head-custom table-head-bg table-borderless table-vertical-center text-center">
        <thead>
        <tr class="text-uppercase">
          <th style="min-width: 100px" class="pl-7">企業名</th>
          <th style="min-width: 100px">所在地</th>
          <th style="min-width: 100px">業種</th>
          <th style="min-width: 100px">事業内容</th>
          <th style="min-width: 80px">詳細</th>
        </tr>
        </thead>
        <tbody>
        <% @current_user.favorites.each do |favorite| %>
          <tr>
            <td class="pl-0 py-8">
              <div class="d-flex align-items-center">
                <div class="symbol symbol-50 symbol-light mr-4">
                  <span class="symbol-label">
                    <img src="<%= favorite.company.icon %>" class="h-100 align-self-end" alt="">
                  </span>
                </div>
                <div>
                  <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"><%= favorite.company.name %></a>
                </div>
              </div>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"><%= favorite.company.prefecture.name %></span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                <% favorite.company.company_categories.each do |company_category| %>
                  <span class="label label-outline-dark label-inline mr-2"><%= company_category.name %></span>
                <% end %>
              </span>
            </td>
            <td>
              <span class="text-dark-75 font-weight-bolder d-block font-size-lg"><%= favorite.company.business_details %></span>
            </td>
            <td>
              <%= link_to("詳細", "/company/#{favorite.company.id}", {class: %w(btn btn-sm btn-light-primary)}) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>