<div class="row">
  <div class="col-12">
    <%= form_for(@student, url: {controller: 'student', action: 'create_temp'}) do |f| %>
      <div class="card card-custom gutter-b">
        <div class="card-header h-auto py-4">
          <div class="card-title">
            <h3 class="card-label">
              あなたの学籍番号と担任から教えてもらった招待コードを入力してください。
            </h3>
          </div>
        </div>
        <div class="card-body py-4">
          <% if @student.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">エラー</h4>
              <ul class="m-0">
                <% @student.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group row my-2">
            <label class="col-2 col-form-label text-right">学籍番号:</label>
            <div class="col-10">
              <%= f.text_field(:student_id, {class: ["form-control"]}) %>
            </div>
          </div>
          <div class="form-group row my-2">
            <label class="col-2 col-form-label text-right">招待コード:</label>
            <div class="col-10">
              <%= f.text_field(:invite_code, {class: ["form-control"]}) %>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= f.submit("送信", {class: %w(btn btn-primary)}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>