<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>教員情報登録 | 教員</title>
</head>
<body>
<div class="card card-custom">
  <div class="card-body p-0">
    <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="first" data-wizard-clickable="true">
      <div class="d-flex flex-column-fluid px-8 py-8 px-lg-15 py-lg-3">
        <%=form_tag('/teacher/create') do %>
          <% if @teacher.errors.full_messages.any? %>
            <h4 class="alert-heading">エラー</h4>
            <% @teacher.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
          <% end %>
          <div class="container">
            <div class="row">
              <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                  <label>苗字<span class="text-danger">*</span></label>
                  <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="<%= @teacher.last_name %>">
                </div>
              </div>
              <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                  <label>名前<span class="text-danger">*</span></label>
                  <input type="text" name="first_name" class="form-control" placeholder="First Name" value="<%= @teacher.first_name %>">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                  <label>みょうじ<span class="text-danger">*</span></label>
                  <input type="text" name="last_name_furigana" class="form-control" placeholder="Last Name Furigana" value="<%= @teacher.last_name_furigana %>">
                </div>
              </div>
              <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                  <label>なまえ<span class="text-danger">*</span></label>
                  <input type="text" name="first_name_furigana" class="form-control" placeholder="First Name Furigana" value="<%= @teacher.first_name_furigana %>">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>メールアドレス
                <span class="text-danger">*</span></label>
                <input type="email" name="email" class="form-control" placeholder="Email" value="<%= @teacher.email %>">
            </div>
            <div class="form-group">
              <label>パスワード
                <span class="text-danger">*</span></label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleSelect1">性別
                <span class="text-danger">*</span></label>
                <select class="form-control"  name="gender" id="exampleSelect1">
                  <option value=1>女性</option>
                  <option value=2>男性</option>
                </select>
            </div>
            <div class="form-group">
              <label>教員アイコン
                <span class="text-danger">*</span></label>
              <input type="file" name="icon" class="form-control">
            </div>
            <div class="form-group">
              <label>自己紹介文
                <span class="text-danger">*</span></label>
                <input type="text" name="biography" class="form-control" placeholder="biography" value="<%= @teacher.biography %>">
            </div>
          </div>
          <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">登録</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>