<div class="card card-custom">
  <%=form_for("/company/create") do |f| %>
    <div class="card-body">
      <% if @recruit_company.errors.full_messages.any? %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">エラー</h4>
          <ul class="m-0">
            <% @recruit_company.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <label>企業コード<span class="text-danger">*</span></label>
        <input type="text" name="company_code" class="form-control" placeholder="12345678" value="<%= @recruit_company.company_code %>">
      </div>
      <div class="form-group">
        <label>企業名<span class="text-danger">*</span></label>
        <input type="text" name="name"class="form-control" placeholder="麻生株式会社" value="<%= @recruit_company.name %>">
      </div>
      <div class="form-group">
        <label>企業名（ふりがな）<span class="text-danger">*</span></label>
        <input type="text" name="name_furigana" class="form-control" placeholder="あそうかぶしきがいしゃ" value="<%= @recruit_company.name_furigana %>">
      </div>
      <div class="form-group">
        <label>郵便番号<span class="text-danger">*</span></label>
        <input type="text" name="postal_code" class="form-control" placeholder="123-4567" value="<%= @recruit_company.postal_code %>">
      </div>
      <div class="form-group">
        <label>都道府県<span class="text-danger">*</span></label>
        <%= f.collection_select :origin_id, Prefecture.all, :id, :name, {}, {class: %w(form-control)} %>
      </div>
      <div class="form-group">
        <label>住所<span class="text-danger">*</span></label>
        <input type="text" name="address" class="form-control" placeholder="福岡市博多区博多駅南2-12-32" value="<%= @recruit_company.address %>">
      </div>
      <div class="form-group">
        <label>設立日<span class="text-danger">*</span></label>
        <input type="date" name="found_date" class="form-control" value="<%= @recruit_company.found_date %>">
      </div>
      <div class="form-group">
        <label>電話番号<span class="text-danger">*</span></label>
        <input type="text" name="tel_number" class="form-control" placeholder="0921234567" value="<%= @recruit_company.tel_number %>">
      </div>
      <div class="form-group">
        <label>FAX番号</label>
        <input type="text" name="fax_number" class="form-control" placeholder="0921234567" value="<%= @recruit_company.fax_number %>">
      </div>
      <div class="form-group">
        <label>株式上場</label>
        <input type="text" name="stock_list" class="form-control" placeholder="東証1部" value="<%= @recruit_company.stock_list %>">
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-4">
            <label>従業員数<span class="text-danger">*</span></label>
            <input type="number" name="number_of_employee" class="form-control" placeholder="100" value="<%= @recruit_company.number_of_employee %>">
          </div>
          <div class="col-md-4">
            <label>内、男性従業員数</label>
            <input type="number" name="number_of_employee_male" class="form-control" placeholder="50" value="<%= @recruit_company.number_of_employee_male %>">
          </div>
          <div class="col-md-4">
            <label>内、女性従業員数</label>
            <input type="number" name="number_of_employee_female" class="form-control" placeholder="50" value="<%= @recruit_company.number_of_employee_female %>">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>資本金<span class="text-danger">*</span></label>
        <input type="number" name="capital" class="form-control" placeholder="10000000" value="<%= @recruit_company.capital %>">
      </div>
      <div class="form-group">
        <label>売上高<span class="text-danger">*</span></label>
        <input type="number" name="proceed" class="form-control" placeholder="100000000" value="<%= @recruit_company.proceed %>">
      </div>
      <div class="form-group">
        <label>事業内容<span class="text-danger">*</span></label>
        <input type="text" name="business_details" class="form-control" placeholder="Webサイト・スマホアプリ開発" value="<%= @recruit_company.business_details %>">
      </div>
      <div class="form-group">
        <label>ホームページ</label>
        <input type="text" name="url" class="form-control" placeholder="https://asojuku.ac.jp/abcc/" value="<%= @recruit_company.url %>">
      </div>
      <div class="form-group">
        <label>採用ページ</label>
        <input type="text" name="recruit_url" class="form-control" placeholder="https://asojuku.ac.jp/abcc/info/" value="<%= @recruit_company.recruit_url %>">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success ml-3">登録</button>
      </div>
    </div>
  <% end %>
</div>


