<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title><%= @sub_header[:title] %> | conpath</title>
    <meta name="description" content="Page with empty content" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

    <!-- Global Theme Styles(used by all pages) -->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!-- Page Vendors Styles(used by this page) -->
    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <% @custom_css.each do |path| %>
      <link href="<%= path %>" rel="stylesheet" type="text/css" />
    <% end %>

    <!-- Layout Themes(used by all pages) -->
    <link href="/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
      <%= link_to(root_path) do %>
        <img alt="Logo" src="/assets/conpath_logo.png" />
      <% end %>
      <div class="d-flex align-items-center">
        <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
          <span></span>
        </button>
        <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
          <span></span>
        </button>
        <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
          <span class="svg-icon svg-icon-xl">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
              </g>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <div class="d-flex flex-column flex-root">
      <div class="d-flex flex-row flex-column-fluid page">
        <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
          <div class="brand flex-column-auto" id="kt_brand">
            <%= link_to(root_path, {class: "brand-logo"}) do %>
              <img alt="Logo" src="/assets/conpath_logo.png" />
            <% end %>
            <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
              <span class="svg-icon svg-icon svg-icon-xl">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                  </g>
                </svg>
              </span>
            </button>
          </div>
          <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
            <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
              <ul class="menu-nav">
                <li class="menu-item" aria-haspopup="true">
                  <%= link_to(root_path, {class: "menu-link"}) do %>
                    <i class="menu-icon flaticon-home"></i>
                    <span class="menu-text">トップページ</span>
                  <% end %>
                </li>
                <% if session[:user_type] == "student" %>
                  <li class="menu-section">
                    <h4 class="menu-text">企業</h4>
                    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                  </li>
                  <li class="menu-item" aria-haspopup="true">
                    <a href="/student/favorite/list" class="menu-link">
                      <i class="menu-icon flaticon2-favourite"></i>
                      <span class="menu-text">お気に入り企業</span>
                    </a>
                  </li>

                  <li class="menu-section">
                    <h4 class="menu-text">求人票</h4>
                    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                  </li>
                  <li class="menu-item" aria-haspopup="true">
                    <a href="/post/search" class="menu-link">
                      <i class="menu-icon flaticon2-search-1"></i>
                      <span class="menu-text">検索</span>
                    </a>
                  </li>

                  <li class="menu-section">
                    <h4 class="menu-text">就職活動</h4>
                    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
                  </li>
                  <li class="menu-item" aria-haspopup="true">
                    <a href="/activity" class="menu-link">
                      <i class="menu-icon flaticon2-list-2"></i>
                      <span class="menu-text">選考一覧</span>
                    </a>
                  </li>
                <% elsif session[:user_type] == "teacher" %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <div id="kt_header" class="header header-fixed">
            <div class="container-fluid d-flex align-items-stretch justify-content-between">
              <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                  <ul class="menu-nav">
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                      <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-text">麻生塾グループ</span>
                        <i class="menu-arrow"></i>
                      </a>
                      <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                        <ul class="menu-subnav">
                          <li class="menu-item" aria-haspopup="true">
                            <a href="https://asojuku.ac.jp/" class="menu-link">
                              <span class="svg-icon menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M10.9,2 C11.4522847,2 11.9,2.44771525 11.9,3 C11.9,3.55228475 11.4522847,4 10.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,16 C20,15.4477153 20.4477153,15 21,15 C21.5522847,15 22,15.4477153 22,16 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L10.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                    <path d="M24.0690576,13.8973499 C24.0690576,13.1346331 24.2324969,10.1246259 21.8580869,7.73659596 C20.2600137,6.12944276 17.8683518,5.85068794 15.0081639,5.72356847 L15.0081639,1.83791555 C15.0081639,1.42370199 14.6723775,1.08791555 14.2581639,1.08791555 C14.0718537,1.08791555 13.892213,1.15726043 13.7542266,1.28244533 L7.24606818,7.18681951 C6.93929045,7.46513642 6.9162184,7.93944934 7.1945353,8.24622707 C7.20914339,8.26232899 7.22444472,8.27778811 7.24039592,8.29256062 L13.7485543,14.3198102 C14.0524605,14.6012598 14.5269852,14.5830551 14.8084348,14.2791489 C14.9368329,14.140506 15.0081639,13.9585047 15.0081639,13.7695393 L15.0081639,9.90761477 C16.8241562,9.95755456 18.1177196,10.0730665 19.2929978,10.4469645 C20.9778605,10.9829796 22.2816185,12.4994368 23.2042718,14.996336 L23.2043032,14.9963244 C23.313119,15.2908036 23.5938372,15.4863432 23.9077781,15.4863432 L24.0735976,15.4863432 C24.0735976,15.0278051 24.0690576,14.3014082 24.0690576,13.8973499 Z" fill="#000000" fill-rule="nonzero" transform="translate(15.536799, 8.287129) scale(-1, 1) translate(-15.536799, -8.287129) "/>
                                  </g>
                                </svg>
                              </span>
                              <span class="menu-text">ホームページ</span>
                            </a>
                          </li>
                          <li class="menu-item" aria-haspopup="true">
                            <a href="https://twitter.com/aso_college" class="menu-link">
                              <span class="svg-icon menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M10.9,2 C11.4522847,2 11.9,2.44771525 11.9,3 C11.9,3.55228475 11.4522847,4 10.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,16 C20,15.4477153 20.4477153,15 21,15 C21.5522847,15 22,15.4477153 22,16 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L10.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                    <path d="M24.0690576,13.8973499 C24.0690576,13.1346331 24.2324969,10.1246259 21.8580869,7.73659596 C20.2600137,6.12944276 17.8683518,5.85068794 15.0081639,5.72356847 L15.0081639,1.83791555 C15.0081639,1.42370199 14.6723775,1.08791555 14.2581639,1.08791555 C14.0718537,1.08791555 13.892213,1.15726043 13.7542266,1.28244533 L7.24606818,7.18681951 C6.93929045,7.46513642 6.9162184,7.93944934 7.1945353,8.24622707 C7.20914339,8.26232899 7.22444472,8.27778811 7.24039592,8.29256062 L13.7485543,14.3198102 C14.0524605,14.6012598 14.5269852,14.5830551 14.8084348,14.2791489 C14.9368329,14.140506 15.0081639,13.9585047 15.0081639,13.7695393 L15.0081639,9.90761477 C16.8241562,9.95755456 18.1177196,10.0730665 19.2929978,10.4469645 C20.9778605,10.9829796 22.2816185,12.4994368 23.2042718,14.996336 L23.2043032,14.9963244 C23.313119,15.2908036 23.5938372,15.4863432 23.9077781,15.4863432 L24.0735976,15.4863432 C24.0735976,15.0278051 24.0690576,14.3014082 24.0690576,13.8973499 Z" fill="#000000" fill-rule="nonzero" transform="translate(15.536799, 8.287129) scale(-1, 1) translate(-15.536799, -8.287129) "/>
                                  </g>
                                </svg>
                              </span>
                              <span class="menu-text">Twitter</span>
                            </a>
                          </li>
                          <li class="menu-item" aria-haspopup="true">
                            <a href="https://www.instagram.com/aso_college_group/" class="menu-link">
                              <span class="svg-icon menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M10.9,2 C11.4522847,2 11.9,2.44771525 11.9,3 C11.9,3.55228475 11.4522847,4 10.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,16 C20,15.4477153 20.4477153,15 21,15 C21.5522847,15 22,15.4477153 22,16 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L10.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                    <path d="M24.0690576,13.8973499 C24.0690576,13.1346331 24.2324969,10.1246259 21.8580869,7.73659596 C20.2600137,6.12944276 17.8683518,5.85068794 15.0081639,5.72356847 L15.0081639,1.83791555 C15.0081639,1.42370199 14.6723775,1.08791555 14.2581639,1.08791555 C14.0718537,1.08791555 13.892213,1.15726043 13.7542266,1.28244533 L7.24606818,7.18681951 C6.93929045,7.46513642 6.9162184,7.93944934 7.1945353,8.24622707 C7.20914339,8.26232899 7.22444472,8.27778811 7.24039592,8.29256062 L13.7485543,14.3198102 C14.0524605,14.6012598 14.5269852,14.5830551 14.8084348,14.2791489 C14.9368329,14.140506 15.0081639,13.9585047 15.0081639,13.7695393 L15.0081639,9.90761477 C16.8241562,9.95755456 18.1177196,10.0730665 19.2929978,10.4469645 C20.9778605,10.9829796 22.2816185,12.4994368 23.2042718,14.996336 L23.2043032,14.9963244 C23.313119,15.2908036 23.5938372,15.4863432 23.9077781,15.4863432 L24.0735976,15.4863432 C24.0735976,15.0278051 24.0690576,14.3014082 24.0690576,13.8973499 Z" fill="#000000" fill-rule="nonzero" transform="translate(15.536799, 8.287129) scale(-1, 1) translate(-15.536799, -8.287129) "/>
                                  </g>
                                </svg>
                              </span>
                              <span class="menu-text">Instagram</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                      <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-text">学校一覧</span>
                        <i class="menu-arrow"></i>
                      </a>
                      <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                        <ul class="menu-subnav">
                          <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="menu-link menu-toggle">
                              <span class="svg-icon menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M13.5,21 L13.5,18 C13.5,17.4477153 13.0522847,17 12.5,17 L11.5,17 C10.9477153,17 10.5,17.4477153 10.5,18 L10.5,21 L5,21 L5,4 C5,2.8954305 5.8954305,2 7,2 L17,2 C18.1045695,2 19,2.8954305 19,4 L19,21 L13.5,21 Z M9,4 C8.44771525,4 8,4.44771525 8,5 L8,6 C8,6.55228475 8.44771525,7 9,7 L10,7 C10.5522847,7 11,6.55228475 11,6 L11,5 C11,4.44771525 10.5522847,4 10,4 L9,4 Z M14,4 C13.4477153,4 13,4.44771525 13,5 L13,6 C13,6.55228475 13.4477153,7 14,7 L15,7 C15.5522847,7 16,6.55228475 16,6 L16,5 C16,4.44771525 15.5522847,4 15,4 L14,4 Z M9,8 C8.44771525,8 8,8.44771525 8,9 L8,10 C8,10.5522847 8.44771525,11 9,11 L10,11 C10.5522847,11 11,10.5522847 11,10 L11,9 C11,8.44771525 10.5522847,8 10,8 L9,8 Z M9,12 C8.44771525,12 8,12.4477153 8,13 L8,14 C8,14.5522847 8.44771525,15 9,15 L10,15 C10.5522847,15 11,14.5522847 11,14 L11,13 C11,12.4477153 10.5522847,12 10,12 L9,12 Z M14,12 C13.4477153,12 13,12.4477153 13,13 L13,14 C13,14.5522847 13.4477153,15 14,15 L15,15 C15.5522847,15 16,14.5522847 16,14 L16,13 C16,12.4477153 15.5522847,12 15,12 L14,12 Z" fill="#000000"/>
                                    <rect fill="#FFFFFF" x="13" y="8" width="3" height="3" rx="1"/>
                                    <path d="M4,21 L20,21 C20.5522847,21 21,21.4477153 21,22 L21,22.4 C21,22.7313708 20.7313708,23 20.4,23 L3.6,23 C3.26862915,23 3,22.7313708 3,22.4 L3,22 C3,21.4477153 3.44771525,21 4,21 Z" fill="#000000" opacity="0.3"/>
                                  </g>
                                </svg>
                              </span>
                              <span class="menu-text">麻生情報ビジネス専門学校 福岡校</span>
                              <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                              <ul class="menu-subnav">
                                <li class="menu-item" aria-haspopup="true">
                                  <a href="javascript:;" class="menu-link">
                                    <i class="menu-bullet menu-bullet-line">
                                      <span></span>
                                    </i>
                                    <span class="menu-text">Link 1</span>
                                  </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                  <a href="javascript:;" class="menu-link">
                                    <i class="menu-bullet menu-bullet-line">
                                      <span></span>
                                    </i>
                                    <span class="menu-text">Link 2</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                      <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-text">学校別リンク</span>
                        <i class="menu-arrow"></i>
                      </a>
                      <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                        <ul class="menu-subnav">
                          <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                            <a href="#" class="menu-link menu-toggle">
                              <span class="svg-icon menu-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M13.5,21 L13.5,18 C13.5,17.4477153 13.0522847,17 12.5,17 L11.5,17 C10.9477153,17 10.5,17.4477153 10.5,18 L10.5,21 L5,21 L5,4 C5,2.8954305 5.8954305,2 7,2 L17,2 C18.1045695,2 19,2.8954305 19,4 L19,21 L13.5,21 Z M9,4 C8.44771525,4 8,4.44771525 8,5 L8,6 C8,6.55228475 8.44771525,7 9,7 L10,7 C10.5522847,7 11,6.55228475 11,6 L11,5 C11,4.44771525 10.5522847,4 10,4 L9,4 Z M14,4 C13.4477153,4 13,4.44771525 13,5 L13,6 C13,6.55228475 13.4477153,7 14,7 L15,7 C15.5522847,7 16,6.55228475 16,6 L16,5 C16,4.44771525 15.5522847,4 15,4 L14,4 Z M9,8 C8.44771525,8 8,8.44771525 8,9 L8,10 C8,10.5522847 8.44771525,11 9,11 L10,11 C10.5522847,11 11,10.5522847 11,10 L11,9 C11,8.44771525 10.5522847,8 10,8 L9,8 Z M9,12 C8.44771525,12 8,12.4477153 8,13 L8,14 C8,14.5522847 8.44771525,15 9,15 L10,15 C10.5522847,15 11,14.5522847 11,14 L11,13 C11,12.4477153 10.5522847,12 10,12 L9,12 Z M14,12 C13.4477153,12 13,12.4477153 13,13 L13,14 C13,14.5522847 13.4477153,15 14,15 L15,15 C15.5522847,15 16,14.5522847 16,14 L16,13 C16,12.4477153 15.5522847,12 15,12 L14,12 Z" fill="#000000"/>
                                    <rect fill="#FFFFFF" x="13" y="8" width="3" height="3" rx="1"/>
                                    <path d="M4,21 L20,21 C20.5522847,21 21,21.4477153 21,22 L21,22.4 C21,22.7313708 20.7313708,23 20.4,23 L3.6,23 C3.26862915,23 3,22.7313708 3,22.4 L3,22 C3,21.4477153 3.44771525,21 4,21 Z" fill="#000000" opacity="0.3"/>
                                  </g>
                                </svg>
                              </span>
                              <span class="menu-text">麻生情報ビジネス専門学校 福岡校</span>
                              <i class="menu-arrow"></i>
                            </a>
                            <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                              <ul class="menu-subnav">
                                <li class="menu-item" aria-haspopup="true">
                                  <a href="javascript:;" class="menu-link">
                                    <i class="menu-bullet menu-bullet-line">
                                      <span></span>
                                    </i>
                                    <span class="menu-text">Link 1</span>
                                  </a>
                                </li>
                                <li class="menu-item" aria-haspopup="true">
                                  <a href="javascript:;" class="menu-link">
                                    <i class="menu-bullet menu-bullet-line">
                                      <span></span>
                                    </i>
                                    <span class="menu-text">Link 2</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="topbar">
                <div class="dropdown">
                  <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                      <img class="h-20px w-20px rounded-sm" src="/assets/media/svg/flags/063-japan.svg" alt="" />
                    </div>
                  </div>
                  <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
                    <ul class="navi navi-hover py-4">
                      <li class="navi-item active">
                        <a href="" class="navi-link">
                          <span class="symbol symbol-20 mr-3">
                            <img src="/assets/media/svg/flags/063-japan.svg" alt="" />
                          </span>
                          <span class="navi-text">日本語</span>
                        </a>
                      </li>
                      <!--
                      <li class="navi-item">
                        <a href="" class="navi-link">
                          <span class="symbol symbol-20 mr-3">
                            <img src="/assets/media/svg/flags/063-japan.svg" alt="" />
                          </span>
                          <span class="navi-text">English</span>
                        </a>
                      </li>
                      -->
                    </ul>
                  </div>
                </div>
                <% if @current_user %>
                  <div class="topbar-item">
                    <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                      <span class="text-muted font-weight-bold font-size-base mr-1">ようこそ、</span>
                      <span class="text-dark-50 font-weight-bolder font-size-base mr-1"><%= @current_user.full_name %></span>
                      <span class="text-muted font-weight-bold font-size-base mr-3">さん</span>
                      <span class="symbol symbol-lg-35 symbol-25">
                      <div class="symbol-label" style="background-image:url('<%= @current_user.icon %>')"></div>
                      </span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <% if @sub_header %>
              <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
                <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                  <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                      <h5 class="text-dark font-weight-bold my-1 mr-5"><%= @sub_header[:title] %></h5>
                      <% if @sub_header[:list] %>
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                          <% @sub_header[:list].each do |item| %>
                            <li class="breadcrumb-item">
                              <a href="<%= item[:url] %>" class="text-muted"><%= item[:name] %></a>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="d-flex flex-column-fluid">
              <div class="container">
                <%= yield %>
              </div>
            </div>
          </div>
          <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
            <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
              <div class="text-dark order-2 order-md-1">
                &copy;2020 Pear. All Rights Reserved.
              </div>
              <div class="nav nav-dark">
                <a href="" target="_blank" class="nav-link pl-0 pr-5">About</a>
                <a href="" target="_blank" class="nav-link pl-0 pr-0">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @current_user %>
      <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
          <h3 class="font-weight-bold m-0">アカウント</h3>
          <a class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
            <i class="ki ki-close icon-xs text-muted"></i>
          </a>
        </div>
        <div class="offcanvas-content pr-5 mr-n5">
          <div class="d-flex align-items-center mt-5">
            <div class="symbol symbol-100 mr-5">
              <div class="symbol-label" style="background-image:url('<%= @current_user.icon %>')"></div>
            </div>
            <div class="d-flex flex-column">
              <a class="font-weight-bold font-size-h5 text-dark-75"><%= @current_user.full_name %></a>
              <% if session[:user_type] == "student" %>
                <div class="text-muted mt-1"><%= @current_user.school_class.course.school.name %><br><%= @current_user.school_class.course.name %></div>
              <% end %>
              <div class="navi mt-2">
                <% if session[:user_type] == "student" %>
                  <%= link_to("ログアウト", "/student/logout", {method: "post", class: %w(btn btn-sm btn-light-danger font-weight-bolder py-2 px-5)}) %>
                <% elsif session[:user_type] == "teacher" %>
                  <%= link_to("ログアウト", "/teacher/logout", {method: "post", class: %w(btn btn-sm btn-light-danger font-weight-bolder py-2 px-5)}) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="separator separator-dashed mt-8 mb-5"></div>
          <div class="navi navi-spacer-x-0 p-0">
            <% if session[:user_type] == "student" %>
              <%= link_to("/student/my/password_change", {class: %w(navi-item)}) do %>
                <div class="navi-link">
                  <div class="symbol symbol-40 bg-light mr-3">
                    <div class="symbol-label">
                    <span class="svg-icon svg-icon-md svg-icon-muted">
                      <img src="/assets/media/svg/icons/Home/Key.svg"/>
                    </span>
                    </div>
                  </div>
                  <div class="navi-text">
                    <div class="font-weight-bold">パスワード変更</div>
                    <div class="text-muted">現在のパスワードを変更するならこちら</div>
                  </div>
                </div>
              <% end %>
              <%= link_to("/student/my/edit", {class: %w(navi-item)}) do %>
                <div class="navi-link">
                  <div class="symbol symbol-40 bg-light mr-3">
                    <div class="symbol-label">
                    <span class="svg-icon svg-icon-md svg-icon-muted">
                      <img src="/assets/media/svg/icons/General/Settings-2.svg"/>
                    </span>
                    </div>
                  </div>
                  <div class="navi-text">
                    <div class="font-weight-bold">設定</div>
                    <div class="text-muted">アカウント設定をする場合はこちら</div>
                  </div>
                </div>
              <% end %>
            <% elsif session[:user_type] == "teacher" %>
              <%= link_to("/teacher/my/password_change", {class: %w(navi-item)}) do %>
                <div class="navi-link">
                  <div class="symbol symbol-40 bg-light mr-3">
                    <div class="symbol-label">
                    <span class="svg-icon svg-icon-md svg-icon-muted">
                      <img src="/assets/media/svg/icons/Home/Key.svg"/>
                    </span>
                    </div>
                  </div>
                  <div class="navi-text">
                    <div class="font-weight-bold">パスワード変更</div>
                    <div class="text-muted">現在のパスワードを変更するならこちら</div>
                  </div>
                </div>
              <% end %>
              <%= link_to("/teacher/my/edit", {class: %w(navi-item)}) do %>
                <div class="navi-link">
                  <div class="symbol symbol-40 bg-light mr-3">
                    <div class="symbol-label">
                    <span class="svg-icon svg-icon-md svg-icon-muted">
                      <img src="/assets/media/svg/icons/General/Settings-2.svg"/>
                    </span>
                    </div>
                  </div>
                  <div class="navi-text">
                    <div class="font-weight-bold">設定</div>
                    <div class="text-muted">アカウント設定をする場合はこちら</div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="kt_scrolltop" class="scrolltop">
      <span class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
          </g>
        </svg>
      </span>
    </div>

    <!-- JavaScript -->
    <script>
      var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
    </script>

    <!-- Global Config(global config for global JS scripts) -->
    <script>
      var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };
    </script>

    <!-- Global Theme Bundle(used by all pages) -->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>

    <!-- Page Vendors(used by this page) -->
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM"></script>
    <script src="/assets/plugins/custom/gmaps/gmaps.js"></script>

    <!-- Page Scripts(used by this page) -->
    <script src="/assets/js/pages/widgets.js"></script>
    <script src="/assets/js/pages/crud/forms/widgets/clipboard.js?v=7.1.6"></script>

    <% @custom_js.each do |path| %>
      <script src="<%= path %>"></script>
    <% end %>
    <% if !flash[:notice].nil? %>
      <script>
        $.notify({
          message: '<%= flash[:notice] %>'
        },{
          placement: {
          from: 'top',
          align: 'right'
        },
          animate: {
          enter: 'animate__animated animate__fadeInRight',
          exit: 'animate__animated animate__fadeOutRight'
        },
        offset: {
          x: 30,
          y: 30
        },
          timer: 2000,
          type: 'success'
        });
      </script>
    <% end %>
  </body>
</html>
